@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=EB+Garamond:ital,wght@1,600&family=Hedvig+Letters+Serif:opsz@12..24&family=Nova+Square&family=Roboto+Condensed&display=swap");

body {
  font-family: "Nova Square", sans-serif !important;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(194, 194, 194, 0.1) 0px,
      rgba(194, 194, 194, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      90deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    );
}
.heading {
  width: 100%;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.card {
  background-image: radial-gradient(
    circle at center left,
    rgb(207, 135, 220),
    rgb(59, 104, 195)
  );
  width: 300px;
}
.card-header {
  background-image: linear-gradient(
    305deg,
    hsl(151, 59%, 76%),
    hsl(202.429, 59%, 76%),
    hsl(253.857, 59%, 76%),
    hsl(305.286, 59%, 76%),
    hsl(356.714, 59%, 76%),
    hsl(48.143, 59%, 76%),
    hsl(99.571, 59%, 76%)
  );
  color: black !important;
  font-weight: bolder;
  text-align: center;
}
.card-body {
  text-align: left;
  font-weight: bold;
}
.card-img-top {
  background-image: radial-gradient(
      circle at 84% 82%,
      rgba(217, 217, 217, 0.03) 0%,
      rgba(217, 217, 217, 0.03) 21%,
      transparent 21%,
      transparent 100%
    ),
    radial-gradient(
      circle at 75% 56%,
      rgba(3, 3, 3, 0.03) 0%,
      rgba(3, 3, 3, 0.03) 30%,
      transparent 30%,
      transparent 100%
    ),
    radial-gradient(
      circle at 74% 53%,
      rgba(153, 153, 153, 0.03) 0%,
      rgba(153, 153, 153, 0.03) 95%,
      transparent 95%,
      transparent 100%
    ),
    radial-gradient(
      circle at 86% 43%,
      rgba(209, 209, 209, 0.03) 0%,
      rgba(209, 209, 209, 0.03) 83%,
      transparent 83%,
      transparent 100%
    ),
    radial-gradient(
      circle at 64% 88%,
      rgba(192, 192, 192, 0.03) 0%,
      rgba(192, 192, 192, 0.03) 2%,
      transparent 2%,
      transparent 100%
    ),
    radial-gradient(
      circle at 73% 77%,
      rgba(205, 205, 205, 0.03) 0%,
      rgba(205, 205, 205, 0.03) 18%,
      transparent 18%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 51%,
      rgba(161, 161, 161, 0.03) 0%,
      rgba(161, 161, 161, 0.03) 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 40% 84%,
      rgba(115, 115, 115, 0.03) 0%,
      rgba(115, 115, 115, 0.03) 14%,
      transparent 14%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  width: 300px;
  height: 200px;
  padding: 25px;
}
